.icon-button {
  background: transparent;
  padding: 20px 0 20px 4px;
  font-size: 20px;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;

  .fa-chevron-right {
    margin-right: 7px;
  }
}
