@import '../../colors';
.wcag-card {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #ffffff;
  border-radius: 10px;
  gap: 10px;

  & > .card-checkbox-container {
    display: flex;
    border-right: 2px solid rgba($color: black, $alpha: 0.1);
  }

  .card-checkbox-container {
    z-index: 0;
  }

  .long-description {
    margin-top: 0;
  }

  & > .card-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-auto-rows: auto;

    .short-description {
      font-size: 26px;
      // background-color: $primary;

      // margin-top: 0;
      // border: 2px solid $primary;
      // padding-right: 10px;

      // &::after {
      //   content: '';
      //   display: block;
      //   border-bottom: 3px solid $primary;
      //   // width: 50%;
      //   width: 81px;
      //   position: relative;
      //   bottom: -20px;
      // }
    }

    & > .card-header {
      & > h3:after {
        content: '';
        display: block;
        border-bottom: 3px solid $primary;
        // width: 10%;
        width: 81px;
        position: relative;
        bottom: -6px;
      }
    }

    & > .card-body {
      & > .card-tags {
        & > label {
          display: inline-block;
          margin-bottom: 10px;
        }
        padding-right: 20px;
      }
    }
  }
}
